* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-class {
    background-image: url('../../images/background-image.jpg');
    background-color: dimgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.home-body {
    width: 100%;
}

.main {
    width: 100%;
    font-style: normal;
    color: gold;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 12em 5em 12em;
}

.main-title1 {
    align-self: flex-start;
    width: -moz-fit-content;
    width: fit-content;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.button {
    border-radius: 10px;
    border: 2px solid white;
    background-color: dimgray;
    padding: 0.5em 0.8em;
}

.button a {
    text-decoration: none;
    color: gold;
    font-size: normal;
    font-weight: bold;
}

.main-title2 {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 0.3em 0;
}

.main-title2 h3 {
    font-size: x-large;
    font-weight: bold;
}

.main-desc {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1em 2em;
}

.card-back {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}

.card-info {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 230px;
}

.card-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-info p {
    color: gold;
    font-size: large;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.search-not-found {
    background-color: black;
    margin-bottom: 10em;
    width: 100%;
    padding-top: 1em;
}

.search-not-found p {
    text-align: center;
    color: gold;
    font-size: large;
    font-weight: bold;
}

.edit-profile-page-success-alerts {
    position: fixed;
    z-index: 100;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 2em;
}

.edit-profile-page-error-alerts {
    position: fixed;
    z-index: 100;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 2em;
}

.edit-profile-page-error-alerts .alert-message {
    margin-right: 1em;
}